.welcomeScreen{
  width: 100%;
  height: 100vh;
}

.welcomeScreen .fullScreenWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeScreen .fullScreenWrapper:first-child .contentContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

}
.welcomeScreen .fullScreenWrapper:last-child .contentContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 500px;
}


.welcomeScreen .fullScreenWrapper:first-child .rectangleWrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 500px;
}

.welcomeScreen .rectangle {
  width: 30vw;
  height: 100%;

  background-color: red;
  transform-style: preserve-3d;
  transition: all .6s ease-in-out;
  transform-style: preserve-3d;
}

.welcomeScreen h1{
  display: inline-block;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 80px;
  line-height: .76;
  font-weight: bold;

}
